{
  "presets": [
    "env",
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-decorators",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}